* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee8e8;
  font-family: "Arial", sans-serif;
}

.navigation {
  background: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu li {
  display: inline-block;
  margin-right: 20px;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #ce8460;
}


.container {
  margin-top: 50px;
}


.card {
  border-radius: 15px;
}

.card-header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 2rem;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  border-radius: 10px;
}

.form-control-file {
  border: 1px solid #ced4da;
  border-radius: 10px;
  padding: 5px;
}

.btn {
  border-radius: 50px;
}

/* Media Queries */
@media (max-width: 768px) {
  .card-body {
    padding: 1rem;
  }

  .btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .card-body {
    padding: 0.5rem;
  }

  .btn {
    font-size: 0.8rem;
  }
}


/* Footer styles */
.footer-section {
  margin-top: 150px;
  background: #ffffff;
  color: #000000;
  text-align: center;
  padding: 20px 0;
}

.footer-section p {
  margin: 0;
}