
.table-borderless th,
.table-borderless td {
  border: none;
}

.details2-section {
  margin-top: 50px;
}
.badge-success {
  background-color: #28a745;
}

.shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-form {
  background: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

